Source: nginx-letsencrypt
Section: utils
Priority: optional
Maintainer: Jakob Odersky <jakob@odersky.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.2
Vcs-Git: https://github.com/jodersky/nginx-letsencrypt.git

Package: nginx-letsencrypt
Architecture: all
Depends: nginx, letsencrypt, ssl-cert, ${misc:Depends}
Description: Issue certificates by letsencrypt for nginx virtual hosts.
 Simplify the process by which letsencrypt certificates are issued for virtual
 hosts controlled by nginx.
